@font-face{
    font-style:normal;
    font-weight:400;
    font-family:'Circular20',sans-serif;
    src:url(/i/v2/-/moxie/new/css/hotornot_v2/assets/circular20/Circular20WebCyr-Book.45f77a0cfe4dee8b491a.woff2) format("woff2");font-display:fallback}
@font-face{
    font-style:normal;
    font-weight:600;
    font-family:'Circular20',sans-serif;
    src:url(/i/v2/-/moxie/new/css/hotornot_v2/assets/circular20/Circular20WebCyr-Bold.32c99db8610fe07ee74a.woff2) format("woff2");
    font-display:fallback}
@font-face{
    font-style:normal;
    font-weight:700;
    font-family:'Circular20',sans-serif;
    src:url(/i/v2/-/moxie/new/css/hotornot_v2/assets/circular20/Circular20WebCyr-Black.2c2e2a31fd079a2f15a7.woff2) format("woff2");font-display:fallback}